<!DOCTYPE html>
<html>
  <head>
    <title>StevenUniverseBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="sidebar">
      <div id="logo">

      </div>
      <ul>
        <li class="category">Website</li>
        <li><%= link_to "Blog", root_path %></li>
        <li><%= link_to "About", about_path %></li>
                <% if current_user %>
        Signed in as <%= current_user.name %>
        | <%= link_to "Logout", '/logout' %>
        <% else %>
        <%= link_to 'Login', '/login' %>
        | <%= link_to 'Signup', '/signup' %>
        <% end %>
      </ul>

      <p class="sign-in">Admin Login</p>
    </div>

    <div id="main-content">
      <div id="header">
        <% if current_user %>
        Signed in as <%= current_user.name %>
        | <%= link_to "Logout", '/logout' %>
        <% else %>
        <%= link_to 'Login', '/login' %>
        | <%= link_to 'Signup', '/signup' %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
