<!DOCTYPE html>
<html>
  <head>
    <title>StevenUniverseBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="sidebar">
      <div id="logo">

      </div>
      <ul>
        <li class="category">Website</li>
        <li><%= link_to "Blog", root_path %></li>
        <li>About</li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
